*{
    margin: 0;
    padding: 0;
}

#cuerpo{
    background:rgba(70, 80, 90, .3);
    width: 920PX;
    height: 100vh;
    display: block;
    margin: 0 auto;
    padding-top: 100px; 
}

#cuerpo h1{
    text-align: center;
    width: 450px;
    display: block;
    margin: 0 auto;
}